{# templates/ipsec.secrets.j2 #}
{% for tunnel in vpn_tunnels %}
{{ ansible_default_ipv4.address }} {{ tunnel.aws_outside_ip }} : PSK "{{ lookup('vars', 'onprem_vpn_tunnel' ~ tunnel.id ~ '_psk') }}"
{% endfor %}
